.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 300px;
  border: solid 1px;
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 100;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
