@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@200&display=swap');

$menuHeight: 60px;
$menuBreakpoint: 768px;


.entete{

  display:flex;
  flex-direction: column-reverse;
 
}

.sousEntete{

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  gap:20px;
 
}

h1{

  display: flex;
  justify-content: center;
  color:#fff;
  font-size:35px;
  margin:10px;
  padding:0;

}

h2{

  display:flex;
  justify-content: center;
  color: #c08e37;
}

.logo{

  width:40%;

}

.icon{

  width: 6%;
}

.date{

  font-size:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#my-first {
  ul {
    margin: 0px;
    padding: 0;
    justify-content: flex-end;
    display: flex;
    background: #fff;
    box-shadow: 0 2px 4px #000;

  }

  .burger {
    padding: 0 10px;
    border-left: 1px solid #eee;
    display: none;
    cursor: pointer;

    i {
      color: #000;
      line-height: $menuHeight;
      font-size: 20px;
      font-style: normal;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        background: #fff;
        width: 100%;

        .menu-item {
          border-bottom: 1px solid #cccccc;
          display: flex;
          justify-content: center;
          
        }
     
      }
    }

    .menu-item {
      padding: 5px 10px;
      margin: 0 30px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 1 rem;
      font-weight: 600;
      color: #454545;
    }

    .menu-item:hover{

      background-color: #c08e37;
    }


  }
}