.footer-basic {
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 25px;
  padding-bottom: 25px;
  background-color: burlywood;
}

.item {
  width: 100px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.footer-basic ul a:hover {
  opacity: 1;
}