
<h1>Fruits and Vegetables of Spring:</h1>
<p>Springtime brings a new harvest of seasonal fruits and vegetables, which are packed with important vitamins and minerals essential for a healthy diet. The health experts at Envolve, an integrated healthcare solutions company, are pleased to share five easy ways to pair spring fruits and vegetables for a nutritious and delicious addition to your meal plan.</p>
       <div class="collection">
    <div class="veget" *ngFor="let item of veget; let i=index">
        {{item.name}}
        <img src="{{item.clipart}}" alt="clipart" width="100px" height="100px">
     </div>
    </div>



<br>
