<<<<<<< HEAD
.collection{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap:10px;
  padding:10px;



}

.veget{
// border: solid 1px;
border-radius: 5px;
padding:10px;
align-items: center;
justify-content: center;
}

.body{
  padding:10px;
}
=======

.checking{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
    width: 80%;
    margin: auto;
    
}
.ingredientTitre{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checking input[type="checkbox"]  {
   
    display: flex;
    
    align-items: center;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: -2px -1px 0 #343a3f;
    background: #f3f3f3;
    
}
.checking h2{
    
font-size: 1rem;
}

button{
    text-decoration: none;
    background: white;
    color: black;
    padding: 10px 60px;
    border-radius: 30px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    margin-bottom: 50px;
    margin-top: 40px;
}
>>>>>>> 94f5605c1da8c83d5c9a0ba419c523a3f9c3645e
