

<div class="contenuList">
  <div class="ingredientTitre" >
<h1>Click on your favorite fruit/vegetable and generate a recipe</h1>


<button (click)="submit()">Générer une recette</button>


</div>

<section>
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
       <div class="collection">

    <div class="veget" *ngFor="let item of veget; let i=index"><h4>{{item.name}}</h4>
           <input type="checkbox" formArrayName="selectedItems" [value]="item.name" (change)="onCheckboxChange($event)" />


        <img src="{{item.clipart}}" alt="clipart" width="50px" height="50px">
     </div>
    </div>
  </form>
  <!-- {{form.value | json}} -->
</section>

    <!-- <button (click)="submit()">Générer une recette</button> -->
<app-recette
[searchText]="ingredient"></app-recette>
