<h1>test</h1>
mois actuel: {{month}}

<h3>list of vegetables and fruits of season:</h3>


<button (click)="submit()">Générer une recette</button><br>

<span>liste des ingredients a rajouter à la requête:</span><br>
<section>
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
<div *ngFor="let item of veget; let i=index">
  <input type="checkbox" formArrayName="selectedItems" [value]="item.name" (change)="onCheckboxChange($event)"/>
{{item.name}}
</div>
  </form>
   {{form.value | json}}
</section>
requet HTTP: {{URL+list}}
<br>
{{resultat.title}}<br>
<img [src]=resultat.image alt="thumb">



