


<h1>{{meals[0].strMeal}}</h1>



    <div class="boite1">
        
        <img class="photorecette" src="{{meals[0].strMealThumb}}">

        <div class="ingredients">

            <div class="iconTitre">
           <img class="icon" src="./assets/saccoursesalimentaires.png">
           <h2>Ingrédients</h2>
            </div>

            <div class="petiteboite">
            <div class="positionIngredients">
        <ul>
            <li>{{meals[0].strMeasure1}}{{meals[0].strIngredient1}}</li>
            <li>{{meals[0].strMeasure2}}{{meals[0].strIngredient2}}</li>
            <li>{{meals[0].strMeasure3}}{{meals[0].strIngredient3}}</li>
            <li>{{meals[0].strMeasure4}}{{meals[0].strIngredient4}}</li>
            <li>{{meals[0].strMeasure5}}{{meals[0].strIngredient5}}</li>
            <li>{{meals[0].strMeasure6}}{{meals[0].strIngredient6}}</li>
            <li>{{meals[0].strMeasure7}}{{meals[0].strIngredient7}}</li>
            <li>{{meals[0].strMeasure8}}{{meals[0].strIngredient8}}</li>
            <li>{{meals[0].strMeasure9}}{{meals[0].strIngredient9}}</li>
            <li>{{meals[0].strMeasure10}}{{meals[0].strIngredient10}}</li>
        </ul>
        </div>
  <hr>
        <div class="positionIngredients1">
            <ul>
            <li>{{meals[0].strMeasure11}}{{meals[0].strIngredient11}}</li>
            <li>{{meals[0].strMeasure12}}{{meals[0].strIngredient12}}</li>
            <li>{{meals[0].strMeasure13}}{{meals[0].strIngredient13}}</li>
            <li>{{meals[0].strMeasure14}}{{meals[0].strIngredient14}}</li>
            <li>{{meals[0].strMeasure15}}{{meals[0].strIngredient15}}</li>
            <li>{{meals[0].strMeasure16}}{{meals[0].strIngredient16}}</li>
            <li>{{meals[0].strMeasure17}}{{meals[0].strIngredient17}}</li>
            <li>{{meals[0].strMeasure18}}{{meals[0].strIngredient18}}</li>
            <li>{{meals[0].strMeasure19}}{{meals[0].strIngredient19}}</li>
            <li>{{meals[0].strMeasure20}}{{meals[0].strIngredient20}}</li>
          </ul>
        </div>
        
          </div>

      
           
         </div>
    </div>



    <div class="boite2">
        <div class="iconTitre">
        <img class="icon-fouet" src="./assets/fouet.png">
        
        <h2>Préparation</h2>
        </div>
       <hr>
            
        
            <p>{{meals[0].strInstructions}}</p>
      
        </div>
