


<h1>{{meals[0].strMeal}}</h1>

<div class="box">

    <div class="boite1">
        
        <img class="photorecette" src="{{meals[0].strMealThumb}}">

        <div class="ingredients">

            <div class="iconTitre">
           <img class="icon" src="./assets/saccoursesalimentaires.png">
           <h2>Ingrédients</h2>
            </div>

            <div class="petiteboite">
            <div class="positionIngredients">
        <ul>
            <li>{{meals[0].strIngredient1}}</li>
            <li>{{meals[0].strIngredient2}}</li>
            <li>{{meals[0].strIngredient3}}</li>
            <li>{{meals[0].strIngredient4}}</li>
            <li>{{meals[0].strIngredient5}}</li>
            <li>{{meals[0].strIngredient6}}</li>
            <li>{{meals[0].strIngredient7}}</li>
            <li>{{meals[0].strIngredient8}}</li>
            <li>{{meals[0].strIngredient9}}</li>
            <li>{{meals[0].strIngredient10}}</li>
        </ul>
        </div>
  <hr>
        <div class="positionIngredients1">
            <ul>
            <li>{{meals[0].strIngredient11}}</li>
            <li>{{meals[0].strIngredient12}}</li>
            <li>{{meals[0].strIngredient13}}</li>
            <li>{{meals[0].strIngredient14}}</li>
            <li>{{meals[0].strIngredient15}}</li>
            <li>{{meals[0].strIngredient16}}</li>
            <li>{{meals[0].strIngredient17}}</li>
            <li>{{meals[0].strIngredient18}}</li>
            <li>{{meals[0].strIngredient19}}</li>
            <li>{{meals[0].strIngredient20}}</li>
          </ul>
        </div>
        
          </div>

      
           
         </div>
    </div>
    </div>


    <div class="boite2">
        <div class="iconTitre">
        <img class="icon" src="./assets/fouet.png">
        
        <h2>Préparation</h2>
        </div>
       <hr>
            
        
            <p>{{meals[0].strInstructions}}</p>
      
        </div>
