




<h1>{{meal.strMeal}}</h1>

<div class="box">

    <div class="boite1">
        
        <img class="photorecette" src="{{meal.strMealThumb}}">

        <div class="ingredients">

            <div class="iconTitre">
           <img class="icon" src="./assets/saccoursesalimentaires.png">
           <h2>Ingrédients</h2>
            </div>

            <div class="petiteboite">
            <div class="positionIngredients">
        <ul>
            <li>{{meal.strIngredient1}}</li>
            <li>{{meal.strIngredient2}}</li>
            <li>{{meal.strIngredient3}}</li>
            <li>{{meal.strIngredient4}}</li>
            <li>{{meal.strIngredient5}}</li>
            <li>{{meal.strIngredient6}}</li>
            <li>{{meal.strIngredient7}}</li>
            <li>{{meal.strIngredient8}}</li>
            <li>{{meal.strIngredient9}}</li>
            <li>{{meal.strIngredient10}}</li>
        </ul>
        </div>
  <hr>
        <div class="positionIngredients1">
            <ul>
            <li>{{meal.strIngredient11}}</li>
            <li>{{meal.strIngredient12}}</li>
            <li>{{meal.strIngredient13}}</li>
            <li>{{meal.strIngredient14}}</li>
            <li>{{meal.strIngredient15}}</li>
            <li>{{meal.strIngredient16}}</li>
            <li>{{meal.strIngredient17}}</li>
            <li>{{meal.strIngredient18}}</li>
            <li>{{meal.strIngredient19}}</li>
            <li>{{meal.strIngredient20}}</li>
          </ul>
        </div>
        
          </div>

      
           
         </div>
    </div>
    </div>


    <div class="boite2">
        <div class="iconTitre">
        <img class="icon" src="./assets/fouet.png">
        
        <h2>Préparation</h2>
        </div>
       <hr>
            
        
            <p>{{meal.strInstructions}}</p>
      
        </div>
