*{

    margin:0;
    padding:0;
  }
  
  
   .tuilephoto{
     margin-top: 50%;
     margin-bottom: 30%;
   } 
  
  .positionphoto{
  
  
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
   }
  
  
  .container{
    background-image: url("https://pixabay.com/get/g8564f6065ebc607414d216b5e4408995147368721d7c3cb95cae83932067eca785c6f61cc1c2a17a956f5355c24154912e0c6c19878c2683e15996b7c81a9123b74d9ad072859ec9f668dbe35cf6ff6d_640.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
    color:white;
    font-size: 30px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .container1{
    background-image: url("https://pixabay.com/get/g8564f6065ebc607414d216b5e4408995147368721d7c3cb95cae83932067eca785c6f61cc1c2a17a956f5355c24154912e0c6c19878c2683e15996b7c81a9123b74d9ad072859ec9f668dbe35cf6ff6d_640.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
    color:white;
    font-size: 30px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .container2{
    background-image: url("https://pixabay.com/get/g8564f6065ebc607414d216b5e4408995147368721d7c3cb95cae83932067eca785c6f61cc1c2a17a956f5355c24154912e0c6c19878c2683e15996b7c81a9123b74d9ad072859ec9f668dbe35cf6ff6d_640.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
    color:white;
    font-size: 30px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .container3{
    background-image: url("https://pixabay.com/get/g8564f6065ebc607414d216b5e4408995147368721d7c3cb95cae83932067eca785c6f61cc1c2a17a956f5355c24154912e0c6c19878c2683e15996b7c81a9123b74d9ad072859ec9f668dbe35cf6ff6d_640.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
    color:white;
    font-size: 30px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  
  
  
  
  
  
  
   
  
  
  
  
   
  
  
  
  /* img {
    max-width: 220px;
    max-height: 150px;
  } */
  
  
   
  
   img{
   width: 150px;;
  height:100px; 
  
  }
  .tuilephoto{
    margin-top: 70%;
  } 