
<h1>Fruits and Vegetables of Winter</h1>
<p>So how does one boost immunity during winter? As we are aware, immunity-boosting foods are those that are fresh, organic, easy to digest,pure and wholesome. These include fresh vegetables and fruits/dry fruits, dairy products, nuts/oilseeds, whole grains/legumes and ghee. Besides these, some spices also have anti-microbial properties that protect us from colds and infections. They also act to increase digestive enzymes and cellular metabolic function, and ensure complete assimilation of nutrients.</p>
       <div class="collection">
    <div class="veget" *ngFor="let item of veget; let i=index">

        {{item.name}}
        <img src="{{item.clipart}}" alt="clipart" width="100px" height="100px">
     </div>
    </div>



<br>
